THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [1]:
import pandas as pd
import numpy as np
import math 


df = pd.read_csv("baseball.csv")
df.head()

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [5]:
df_g = df[['g']]
df_g = df_g.apply(lambda x: (x + np.log10(x))/math.sqrt(x), axis = 1)
df_g.head()

          g
0  4.652265
1  5.835621
2  8.101642
3  4.763055
4  6.008902

In [18]:
df_g = df[['ab']].apply(lambda x: (x + np.log10(x))/math.sqrt(x), axis = 1)
df_g
# Kiểu này là lôi trực tiếp

C:\Users\PC\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

           ab
0    7.311338
1    1.627074
2        -inf
3    2.007517
4    2.767169
..        ...
95       -inf
96       -inf
97  18.817656
98  18.249686
99   4.976621

[100 rows x 1 columns]

In [16]:
f1 = lambda x: (x + np.log10(x))/(math.sqrt(x))
# Khởi tạo hàm lambda 
df1 = df[['g']]
df1.apply(lambda x: f1(x), axis = 1)
# Áp dụng vào 1 cột đã được trích xuất trước

            g
0    4.652265
1    5.835621
2    8.101642
3    4.763055
4    6.008902
..        ...
95   6.093598
96   4.652265
97  11.007858
98   9.535317
99   3.147718

[100 rows x 1 columns]

In [19]:
df.assign(test = lambda x: (x['g'] * x['ab'])) 
# Kết hợp 2 cột gán và thêm vào 1 cột mới

,id,player,year,stint,team,lg,g,ab,r,h,...,sb,cs,bb,so,ibb,hbp,sh,sf,gidp,test
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0,950
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,62
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,60
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,89525,benitar01,2007,2,FLO,NL,34,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
96,89526,benitar01,2007,1,SFN,NL,19,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
97,89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,...,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0,40833
98,89533,aloumo01,2007,1,NYN,NL,87,328,51,112,...,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0,28536
99,89534,alomasa02,2007,1,NYN,NL,8,22,1,3,...,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0,176

In [21]:
# Vì biểu thức trên chỉ áp dụng cho kiểu số nên ý tưởng là sẽ lấy 
# những cột có dữ liệu số của bản ra để làm 
# Sử dụng hàm ._get_numeric_data

only_numeric = df._get_numeric_data()
only_numeric.head()

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,2006,2,19,50,6,14,1,0,1,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
1,88643,2006,1,31,2,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,88645,2006,1,62,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,88649,2006,1,20,3,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650,2006,1,33,6,0,1,0,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [117]:
only_numeric.apply(lambda x: (x + np.log10(x))/(np.sqrt(x)))

C:\Users\PC\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,297.743003,44.862123,1.627074,4.652265,7.311338,2.767169,4.047973,1.000000,-inf,1.000000,1.627074,1.000000,1.0,2.301030,2.301030,-inf,-inf,2.007517,-inf,-inf
1,297.746361,44.862123,1.000000,5.835621,1.627074,-inf,1.000000,-inf,-inf,-inf,-inf,-inf,-inf,-inf,1.000000,-inf,-inf,-inf,-inf,-inf
2,297.749720,44.862123,1.000000,8.101642,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf
3,297.756437,44.862123,1.000000,4.763055,2.007517,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,1.627074,-inf,-inf,-inf,-inf,-inf
4,297.758116,44.862123,1.000000,6.008902,2.767169,-inf,1.000000,-inf,-inf,-inf,-inf,-inf,-inf,-inf,2.301030,-inf,-inf,-inf,-inf,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,299.223836,44.873272,1.627074,6.093598,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf
96,299.225507,44.873272,1.000000,4.652265,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf
97,299.232191,44.873272,1.000000,11.007858,18.817656,6.420689,9.266731,4.301030,2.007517,2.007517,5.279588,2.767169,1.0,6.340573,8.819619,2.007517,2.767169,2.301030,1.000000,3.630616
98,299.237204,44.873272,1.000000,9.535317,18.249686,7.380536,10.776638,4.652265,1.000000,3.914504,7.241457,2.007517,-inf,5.471619,5.746910,2.548657,1.627074,-inf,2.007517,3.914504
99,299.238875,44.873272,1.000000,3.147718,4.976621,1.000000,2.007517,1.000000,-inf,-inf,-inf,-inf,-inf,-inf,2.007517,-inf,-inf,-inf,-inf,-inf

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [78]:
df.head()

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [104]:
only_numeric.head()
only_numeric.apply(lambda x: x + 1000 if x.name == 2 else x, axis = 1)
# Áp dụng apply cho df trên chiều ngang

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641.0,2006.0,2.0,19.0,50.0,6.0,14.0,1.0,0.0,1.0,2.0,1.0,1.0,4.0,4.0,0.0,0.0,3.0,0.0,0.0
1,88643.0,2006.0,1.0,31.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,89645.0,3006.0,1001.0,1062.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
3,88649.0,2006.0,1.0,20.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650.0,2006.0,1.0,33.0,6.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,89525.0,2007.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,89526.0,2007.0,1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,89530.0,2007.0,1.0,117.0,349.0,38.0,82.0,16.0,3.0,3.0,25.0,6.0,1.0,37.0,74.0,3.0,6.0,4.0,1.0,11.0
98,89533.0,2007.0,1.0,87.0,328.0,51.0,112.0,19.0,1.0,13.0,49.0,3.0,0.0,27.0,30.0,5.0,2.0,0.0,3.0,13.0
99,89534.0,2007.0,1.0,8.0,22.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0

In [109]:
only_numeric.head()
only_numeric.apply(lambda x: np.log10(x) + x if x.name == 'h' else x, axis = 0)
# Áp dụng apply cho df trên chiều dọc

C:\Users\PC\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,2006,2,19,50,6,15.146128,1,0,1,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
1,88643,2006,1,31,2,0,1.000000,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,88645,2006,1,62,0,0,-inf,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,88649,2006,1,20,3,0,-inf,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650,2006,1,33,6,0,1.000000,0,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,89525,2007,2,34,0,0,-inf,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
96,89526,2007,1,19,0,0,-inf,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
97,89530,2007,1,117,349,38,83.913814,16,3,3,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
98,89533,2007,1,87,328,51,114.049218,19,1,13,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
99,89534,2007,1,8,22,1,3.477121,1,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [114]:
only_numeric.head()
only_numeric.apply(lambda x: x + 1000 if x.name in [2, 3, 4] else x, axis = 1)

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641.0,2006.0,2.0,19.0,50.0,6.0,14.0,1.0,0.0,1.0,2.0,1.0,1.0,4.0,4.0,0.0,0.0,3.0,0.0,0.0
1,88643.0,2006.0,1.0,31.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,89645.0,3006.0,1001.0,1062.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
3,89649.0,3006.0,1001.0,1020.0,1003.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1002.0,1000.0,1000.0,1000.0,1000.0,1000.0
4,89650.0,3006.0,1001.0,1033.0,1006.0,1000.0,1001.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1004.0,1000.0,1000.0,1000.0,1000.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,89525.0,2007.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,89526.0,2007.0,1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,89530.0,2007.0,1.0,117.0,349.0,38.0,82.0,16.0,3.0,3.0,25.0,6.0,1.0,37.0,74.0,3.0,6.0,4.0,1.0,11.0
98,89533.0,2007.0,1.0,87.0,328.0,51.0,112.0,19.0,1.0,13.0,49.0,3.0,0.0,27.0,30.0,5.0,2.0,0.0,3.0,13.0
99,89534.0,2007.0,1.0,8.0,22.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [123]:
pd.DataFrame(only_numeric.apply(lambda x: np.sum(x))).T

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,8935266.0,200692.0,113.0,5238.0,13654.0,1869.0,3582.0,739.0,55.0,437.0,1847.0,138.0,46.0,1549.0,2408.0,177.0,112.0,138.0,120.0,354.0

In [122]:
pd.DataFrame(only_numeric.apply(lambda x: np.sqrt(x)))

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,297.726384,44.788391,1.414214,4.358899,7.071068,2.449490,3.741657,1.000000,0.000000,1.000000,1.414214,1.000000,1.0,2.000000,2.000000,0.000000,0.000000,1.732051,0.000000,0.000000
1,297.729743,44.788391,1.000000,5.567764,1.414214,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,297.733102,44.788391,1.000000,7.874008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,297.739819,44.788391,1.000000,4.472136,1.732051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.414214,0.000000,0.000000,0.000000,0.000000,0.000000
4,297.741499,44.788391,1.000000,5.744563,2.449490,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,299.207286,44.799554,1.414214,5.830952,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
96,299.208957,44.799554,1.000000,4.358899,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
97,299.215641,44.799554,1.000000,10.816654,18.681542,6.164414,9.055385,4.000000,1.732051,1.732051,5.000000,2.449490,1.0,6.082763,8.602325,1.732051,2.449490,2.000000,1.000000,3.316625
98,299.220654,44.799554,1.000000,9.327379,18.110770,7.141428,10.583005,4.358899,1.000000,3.605551,7.000000,1.732051,0.0,5.196152,5.477226,2.236068,1.414214,0.000000,1.732051,3.605551
99,299.222325,44.799554,1.000000,2.828427,4.690416,1.000000,1.732051,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.732051,0.000000,0.000000,0.000000,0.000000,0.000000

In [124]:
pd.DataFrame(only_numeric.apply(lambda x: np.mean(x)))

              0
id     89352.66
year    2006.92
stint      1.13
g         52.38
ab       136.54
r         18.69
h         35.82
X2b        7.39
X3b        0.55
hr         4.37
rbi       18.47
sb         1.38
cs         0.46
bb        15.49
so        24.08
ibb        1.77
hbp        1.12
sh         1.38
sf         1.20
gidp       3.54

In [125]:
pd.DataFrame(only_numeric.apply(lambda x: np.log(x)))

C:\Users\PC\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,11.392350,7.603898,0.693147,2.944439,3.912023,1.791759,2.639057,0.000000,-inf,0.000000,0.693147,0.000000,0.0,1.386294,1.386294,-inf,-inf,1.098612,-inf,-inf
1,11.392372,7.603898,0.000000,3.433987,0.693147,-inf,0.000000,-inf,-inf,-inf,-inf,-inf,-inf,-inf,0.000000,-inf,-inf,-inf,-inf,-inf
2,11.392395,7.603898,0.000000,4.127134,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf
3,11.392440,7.603898,0.000000,2.995732,1.098612,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,0.693147,-inf,-inf,-inf,-inf,-inf
4,11.392451,7.603898,0.000000,3.496508,1.791759,-inf,0.000000,-inf,-inf,-inf,-inf,-inf,-inf,-inf,1.386294,-inf,-inf,-inf,-inf,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11.402273,7.604396,0.693147,3.526361,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf
96,11.402284,7.604396,0.000000,2.944439,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf
97,11.402329,7.604396,0.000000,4.762174,5.855072,3.637586,4.406719,2.772589,1.098612,1.098612,3.218876,1.791759,0.0,3.610918,4.304065,1.098612,1.791759,1.386294,0.000000,2.397895
98,11.402363,7.604396,0.000000,4.465908,5.793014,3.931826,4.718499,2.944439,0.000000,2.564949,3.891820,1.098612,-inf,3.295837,3.401197,1.609438,0.693147,-inf,1.098612,2.564949
99,11.402374,7.604396,0.000000,2.079442,3.091042,0.000000,1.098612,0.000000,-inf,-inf,-inf,-inf,-inf,-inf,1.098612,-inf,-inf,-inf,-inf,-inf

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [163]:
import math
my_function = lambda x: np.log10(x) if x > 0 else pow(math.e, x)
only_numeric['h'] = only_numeric.apply(lambda x: my_function(x['h']), axis = 1)
only_numeric

,id,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,2006,2,19,50,6,1.146128,1,0,1,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
1,88643,2006,1,31,2,0,0.000000,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,88645,2006,1,62,0,0,1.000000,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,88649,2006,1,20,3,0,1.000000,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650,2006,1,33,6,0,0.000000,0,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,89525,2007,2,34,0,0,1.000000,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
96,89526,2007,1,19,0,0,1.000000,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
97,89530,2007,1,117,349,38,1.913814,16,3,3,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
98,89533,2007,1,87,328,51,2.049218,19,1,13,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
99,89534,2007,1,8,22,1,0.477121,1,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [158]:
def my_function2(n):
    if n > 0:
        return  np.log10(n)
    else:
        return  pow(math.e, n)
    
my_function(-4)

0.018315638888734186

In [164]:
df['h'] = df.apply(lambda x: my_function2(x['h']), axis = 1)
df

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,-1.227435,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,0.000000,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,1.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,88649,helliri01,2006,1,MIL,NL,20,3,0,1.000000,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,88650,johnsra05,2006,1,NYA,AL,33,6,0,0.000000,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,89525,benitar01,2007,2,FLO,NL,34,0,0,1.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
96,89526,benitar01,2007,1,SFN,NL,19,0,0,1.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
97,89530,ausmubr01,2007,1,HOU,NL,117,349,38,-0.549905,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
98,89533,aloumo01,2007,1,NYN,NL,87,328,51,-0.506419,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
99,89534,alomasa02,2007,1,NYN,NL,8,22,1,0.725154,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0